body{
    background-color: #2A0944;
}

#title{
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 400%;
    color:#FFE9AE;
    padding: 20px;
}

.btn{
    border: 10px solid black;
    border-radius: 30px;
    display: inline-block;
    height: 200px;
    margin-right: 40px;
    width: 200px;
}
.container{
    width: 50%;
    margin: auto;
}
.row{
    text-align: center;
    padding: 20px 0 20px 0;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}


.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}

@media (max-width : 1248px) and (min-width:991px){   
    #title{
        font-size: 300%;

    }
    .btn{
        border: 7px solid black;
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    
}

@media (max-width : 991px){
   #title{
    font-size: 220%;
   }
   .btn{
    border: 5px solid black;
    height: 120px;
    width: 120px;
    border-radius: 13px;
    margin: auto 10px auto;
   }
   .container{
    position: relative;
    top: 40%;
    width: 100%;
   }
   .row{
    padding: 10px 0 10px 0;
   }
}
